<!DOCTYPE html>
<html lang="en">
<head>
<title>Kurento Room Demo</title>
<meta name="author" content="kurento.org">
<link rel="shortcut icon" href="img/kurento.png" type="image/png" />
<!-- 默认加载的js文件 -->
<script src="/js/widgets/kurento/jquery-2.1.1.min.js"></script>
<!-- Bower JavaScript dependencies-->
<script src="/js/widgets/kurento/adapter.js"></script>
<script src="/js/widgets/kurento/EventEmitter.js"></script>

<!-- Kurento JavaScript dependencies -->
<script src="/js/widgets/kurento/kurento-utils.js"></script>
<script src="/js/widgets/kurento/kurento-jsonrpc.js"></script>
<script src="/js/widgets/kurento/KurentoRoom.js"></script>


<script src="/js/widgets/kurento/Participants.js"></script>
<script src="/js/widgets/kurento/serviceRoom.js"></script>
</head>
<body ng-app="login_kurento_room">


<div id="content">
12
12
</div>

<!--全局弹出提示容器-->
<script id="weeeeeeeee" type="text/x-jquery-tmpl">
	<div id="ddddddd">
		qwqwqwewew
	</div>
</script>

<!-- 页面加载完要执行的文件 -->    
<script>
console.log($('#weeeeeeeee'));
var html = $('#weeeeeeeee').html();
$('#content').html(html);
$('#ddddddd').html('erdfdgfhgh');
</script>
</body>
</html>
