<!DOCTYPE html>
<html class="full-srceen" lang="en"><!--full-srceen-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>虎十哈塞北学堂</title>
<link rel="stylesheet" type="text/css" media="all" href="../css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="../css/base.css" />
<link rel="stylesheet" type="text/css" media="all" href="../css/fonts.css" />
<link rel="stylesheet" type="text/css" media="all" href="../css/widget.css" />
</head>
<body class="full-srceen"><!--full-srceen-->
	<div class="container">
		<div class="screen-content">
			<section class="login-wrapper">
				<div class="login-wrapper-inner clearfix">
					<div class="jumbo-bucket-user no-avatar">
						<h1 class="user-title"style="min-height:32px;">虎十哈塞北学堂</h1>
						<p class="user-desc">&nbsp;用网页记录和分享</p>
					</div>
					<div class="media-btn"><a href="/user/logon/wechatoauth" class="login-media green"><i class="s-icon s-weixin-w"></i>微信账号登录</a></div>
					<div class="media-btn"><a href="/user/logon/weibo" class="login-media orange"><i class="s-icon s-weibo-w"></i>新浪微博登录</a></div>
					<div class="media-btn"><a href="/logon/qqoauth" class="login-media"><i class="s-icon s-qq-w"></i>QQ 账号登录</a></div>
					<div class="media-btn"><a href="#" class="login-phone">使用手机号&nbsp;&nbsp;登录 / 注册</a></div>
				</div>
			</section>
			<footer class="footer">
				<div class="footer-inner">
					Copyright © All Rights Reserved&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备12045674号-9</a>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>
