<!DOCTYPE html>
<html class="full-srceen bgcolor-gray" lang="en"><!--full-srceen-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>虎十哈塞北学堂</title>
	<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/base.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/fonts.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/widget.css" />
</head>
<body class="full-srceen"><!--full-srceen-->
	<div class="container">
		<div class="screen-content screen-full">
			<header class="header">
				<a href="#" class="logo" title="虎十哈塞北学堂"><img src="img/logo.png">张老师正在授英语课</a>
				<div class="user-option">
					<span class="user-btn-fab"><i class="icons icons-addperson"></i></span>					
					<span class="user-btn-fab"><i class="icons icons-filepic"></i></span>
					<span class="user-btn-fab"><i class="icons icons-brush"></i></span>					
					<span class="user-btn-fab"><i class="icons icons-desktopmac"></i></span>					
					<span class="user-btn-fab"><i class="icons icons-setup"></i></span>
					<span class="user-btn-fab"><i class="icons icons-share"></i></span>
					<span class="user-btn-fab btn-active"><i class="icons icons-microphone"></i></span><!--btn-active-->
					<span class="user-btn-fab"><i class="icons icons-leaveroom"></i></span>
					<span class="btn-line"></span>
					<span class="user-btn-fab"><i class="icons icons-close"></i></span>
				</div>
			</header>
			<div class="content more-part two-person clearfix">
				<!--视频大屏video-part+video-large/视频小屏video-part+two-person/three-person/four-person/复杂模式more-part+two-person/three-person/four-person-->
				<div class="video-show">
					<div class="video-list clearfix">
						<div class="video-item">
							<img src="img/p-1.jpg">
							<div class="video-option-box">
								<span class="option-body clearfix">										
									<span class="option-btn"><i class="icons icons-narrow"></i></span><!--icons-enlarge-->	
								</span>			
							</div>						
						</div>	
						<div class="video-item">
							<img src="img/p-1.jpg">
							<div class="video-option-box">
								<span class="option-body">										
									<span class="option-btn"><i class="icons icons-kickout"></i></span>	
									<span class="option-btn active"><i class="icons icons-not-interested"></i></span>	
									<span class="option-btn"><i class="icons icons-enlarge"></i></span><!--icons-narrow-->
								</span>			
							</div>						
						</div>	
						<div class="video-item">
							<img src="img/p-1.jpg">
							<div class="video-option-box">
								<span class="option-body">										
									<span class="option-btn"><i class="icons icons-kickout"></i></span>	
									<span class="option-btn"><i class="icons icons-not-interested"></i></span>	
									<span class="option-btn"><i class="icons icons-enlarge"></i></span><!--icons-narrow-->
								</span>			
							</div>						
						</div>	
						<div class="video-item">
							<img src="img/p-1.jpg">
							<div class="video-option-box">
								<span class="option-body">										
									<span class="option-btn"><i class="icons icons-kickout"></i></span>	
									<span class="option-btn"><i class="icons icons-not-interested"></i></span>	
									<span class="option-btn"><i class="icons icons-enlarge"></i></span><!--icons-narrow-->
								</span>			
							</div>						
						</div>	
						<div class="video-item">
							<img src="img/p-1.jpg">
							<div class="video-option-box">
								<span class="option-body">										
									<span class="option-btn"><i class="icons icons-kickout"></i></span>	
									<span class="option-btn"><i class="icons icons-not-interested"></i></span>	
									<span class="option-btn"><i class="icons icons-enlarge"></i></span><!--icons-narrow-->
								</span>			
							</div>						
						</div>	
						<div class="video-item">
							<img src="img/p-1.jpg">
							<div class="video-option-box">
								<span class="option-body">										
									<span class="option-btn"><i class="icons icons-kickout"></i></span>	
									<span class="option-btn"><i class="icons icons-not-interested"></i></span>	
									<span class="option-btn"><i class="icons icons-enlarge"></i></span><!--icons-narrow-->
								</span>			
							</div>						
						</div>				
					</div>	
				</div>
				<article class="smallvideo-box clearfix">
					<div class="video-item">
						<img src="img/p-2.jpg">		
						<div class="video-option-box">
							<span class="option-body">
								<span class="option-btn"><i class="icons icons-kickout"></i></span>	
								<span class="option-btn"><i class="icons icons-not-interested"></i></span>	
								<span class="option-btn"><i class="icons icons-enlarge"></i></span>	
							</span>			
						</div>							
					</div>	
					<div class="video-item">
						<img src="img/p-2.jpg">	
						<div class="video-option-box">
							<span class="option-body">										
								<span class="option-btn"><i class="icons icons-kickout"></i></span>	
								<span class="option-btn"><i class="icons icons-not-interested"></i></span>	
								<span class="option-btn"><i class="icons icons-enlarge"></i></span>	
							</span>			
						</div>							
					</div>	
					<div class="video-item">
						<img src="img/p-2.jpg">	
						<div class="video-option-box">
							<span class="option-body">										
								<span class="option-btn"><i class="icons icons-kickout"></i></span>	
								<span class="option-btn"><i class="icons icons-not-interested"></i></span>	
								<span class="option-btn"><i class="icons icons-enlarge"></i></span>	
							</span>			
						</div>							
					</div>	
					<div class="video-item">
						<img src="img/p-2.jpg">	
						<div class="video-option-box">
							<span class="option-body">										
								<span class="option-btn"><i class="icons icons-kickout"></i></span>	
								<span class="option-btn"><i class="icons icons-not-interested"></i></span>	
								<span class="option-btn"><i class="icons icons-enlarge"></i></span>	
							</span>			
						</div>							
					</div>	
					<div class="video-item">
						<img src="img/p-2.jpg">	
						<div class="video-option-box">
							<span class="option-body">										
								<span class="option-btn"><i class="icons icons-kickout"></i></span>	
								<span class="option-btn"><i class="icons icons-not-interested"></i></span>	
								<span class="option-btn"><i class="icons icons-enlarge"></i></span>	
							</span>			
						</div>								
					</div>													
				</article>
				<div class="ppt-show">					
					<div class="ppt-box" onselectstart="return false;" unselectable="on">
						<div class="ppt-toolbar">
							<span class="ppt-name">初三数学复习资料.ppt</span>
							<span class="ppt-btn ppt-btn-active"><i class="icons icons-draft"></i></span>
							<span class="ppt-btn">
								<i class="icons icons-brush"></i><i class="icons icons-bottom-narrow"></i>
								<div class="popover ppt-popover" style="margin-left:-53px;"><!--fade-->
									<ul class="brush-list">
										<li class="brush-item thin active"></li>
										<li class="brush-item fine"></li>
										<li class="brush-item medium"></li>
										<li class="brush-item thick"></li>	
									</ul>
								</div>
							</span>
							<span class="ppt-btn">
								<span class="ppt-color"></span><i class="icons icons-bottom-narrow"></i>
								<div class="popover fade ppt-popover" style="margin-left:-22px;"><!--fade-->
									<ul class="color-list">
										<li class="color-item black active"></li>
										<li class="color-item blue"></li>
										<li class="color-item red"></li>
										<li class="color-item green"></li>
										<li class="color-item orange"></li>		
										<li class="color-item gray"></li>		
										<li class="color-item purple"></li>												
									</ul>
								</div>
							</span>
							<span class="ppt-btn"><i class="icons icons-go-back"></i></span>
							<span class="ppt-btn"><i class="icons icons-clear"></i></span>
							<span class="ppt-btn disabled"><i class="icons icons-prepage"></i></span>
							<span class="ppt-text">1&nbsp;of&nbsp;10</span>
							<span class="ppt-btn"><i class="icons icons-nextpage"></i></span>	
							<span class="ppt-btn">关闭</span>	
						</div>
						<canvas class="ppt-canvas" id="_canvas"></canvas>
						<div class="ppt-slides"><img src="img/ppt-3.jpg" width="732" height="524"></div>
					</div>					
				</div>	
				<div class="drawingboard"><!--display:none;-->
					画板区域
					<div class="toolbar" style="display:none"><!--old-->
						<div class="toolbar-inner">						
							<div class="btn-tool clearfix">								
								<button class="tool-item"><i class="icons icons-draft"></i></button>						
								<button class="tool-item pen active">
								</button>
								<button class="tool-item eraser"></button>
								<button class="tool-item shape">
									<ul class="shape-list">
										<li class="shape-item circle active"></li>
										<li class="shape-item square"></li>
										<li class="shape-item triangle"></li>
										<li class="shape-item line"></li>
									</ul>
								</button>
								<button class="tool-item text"></button>
								<button class="tool-item eraser-all"></button>											
							</div>
							<div class="btn-color clearfix">
								<button class="color-item black active"></button>
								<button class="color-item blue"></button>
								<button class="color-item red"></button>
								<button class="color-item green"></button>
								<button class="color-item orange"></button>		
								<button class="color-item gray"></button>		
								<button class="color-item purple"></button>								
							</div>
							<div class="btn-brush clearfix">
								<button class="brush-item thin active"></button>
								<button class="brush-item fine"></button>
								<button class="brush-item medium"></button>
								<button class="brush-item thick"></button>													
							</div>
						</div>						
					</div>	
					<div class="toolbar"  style="display:block"><!--new-->
						<div class="toolbar-inner">						
							<div class="btn-tool clearfix">
								<button class="tool-item enlarge active"></button>
								<button class="tool-item reduce"></button>
								<button class="tool-item go-back"></button>
								<button class="tool-item go-forward"></button>
								<button class="tool-item"><i class="icons icons-draft"></i></button>
								<button class="tool-item selector"></button-->
								<button class="tool-item pen active">
									<div class="pen-list">
										<ul class="brush-list clearfix">
											<li class="brush-item thin active"></li>
											<li class="brush-item fine"></li>
											<li class="brush-item medium"></li>
											<li class="brush-item thick"></li>	
										</ul>
										<ul class="color-list clearfix">
											<li class="color-item black active"></li>
											<li class="color-item blue"></li>
											<li class="color-item red"></li>
											<li class="color-item green"></li>
											<li class="color-item orange"></li>		
											<li class="color-item gray"></li>		
											<li class="color-item purple"></li>												
										</ul>
									</div>
								</button>
								<button class="tool-item eraser"></button>
								<button class="tool-item shape">
									<ul class="shape-list">
										<li class="shape-item circle active"></li>
										<li class="shape-item square"></li>
										<li class="shape-item triangle"></li>
										<li class="shape-item line"></li>
									</ul>
								</button>
								<button class="tool-item text"></button>
								<button class="tool-item eraser-all"></button>	
								<button class="tool-item add-picture"></button>	
								<button class="tool-item save"></button>								
							</div>
						</div>						
					</div>	
				</div>												
			</div>
		</div>
	</div>
	<div id="masker" class="masker masker--black"></div>	
</body>
</html>
